 .spaceTitle:empty:before,
 .spaceContent:empty:before
{
  content: attr(placeholder);
  display: block;
  color: rgba(55,53,47,.15);
  
}

[contenteditable='true'] {
  caret-color:black;
}
@mixin editor {
  width: 100%;
  outline: 0;
  padding: 3px;
  // &:focus{
  //   background-color: rgba(55,53,47,.08);    
  // }
  
}
.spaceTitle{
  @include editor;
  // height: 40px;
  font-size: 40px;
  
}
.spaceContent{
  @include editor;
  font-size: 16px;
  margin-top: 10px;
}