
.sideBar{
  width: 240px;
  
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  
  background-color: #f7f6f3;
  display: flex;
  flex-direction: column;
  // 유저 헤더
  .userInfo{
    $userItemsHeight:30px;
    display: flex;
    padding: 10px 10px;
    margin-bottom: 5px;
    
    
    // 유저 이미지
    .userImg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $userItemsHeight;
      height: $userItemsHeight;

      border-radius: 8px;
      overflow: hidden;

      img{
        width: $userItemsHeight;
      }
    }
    // 유저 데이터
    .userData{
      flex-grow: 1;
      height: $userItemsHeight;
      margin-left: 10px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .userData__name{
        font-size: 1rem;
        color: #343a40;
      }
      .userData__email{
        font-size: .5rem;
        color: #868e96;
        margin-top: 2px;
      }
    }
  }
  // 워크스페이스 박스
  .workspaceWrap{
    flex-grow: 1;
    //워크스페이스 
    .workspaceHeader{
      color: #868e96;
      font-size: 1rem;

      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: 5px 10px;
      margin-bottom: 10px;
      height: 22px;
      &:hover{
        background-color: rgba(55,53,47,.08);
      }
    }
    //워크스페이스 리스트
    .workspaceList{
      overflow-y: scroll;
      // padding: 0 10px;
      
      // 단일 워크스페이스
      
      .space{
        height: 20px;
        padding: 2px 10px;
        display: flex;
        align-items: center;
        
        .title{
          // width: 10%;
          flex-grow: 1;
          color: #343a40;
          overflow-x: scroll;
 
        }
        @mixin nochildMsg {
          .nochildMsg{
            padding-left: 25px;
            color:#868e96;
            font-size: .8rem;
          }
          &.scroll{
            overflow-x:scroll

          }
          
        }
        &:hover{background-color: rgba(55,53,47,.08);}
        &.child0th{@include nochildMsg()}
        &.child1th{padding-left: 25px; @include nochildMsg()}
        &.child2th{padding-left: calc(25*2px);@include nochildMsg()}
        &.child3th{padding-left: calc(25*3px);@include nochildMsg()}
      }
      
    }
    // 워크스페이스 목록 내 모든 버튼
    .btn{
      button{
        height: 20px;
        width: 20px;
        font-size: 1rem;
        color: #868e96;
        text-align: center;
      }
      border-radius: 3px;
      &:hover{
        border: 1px solid #868e96;
        background-color: rgba(55,53,47,.08);
      }
      &.toggle{margin-right: 5px;}
      &.add{
        margin-left: 10px;
        border: 1px solid #adb5bd;

      }
    }
  }
}
.scroll {
  -ms-overflow-style: none;
  /* Internet Explorer */
  scrollbar-width: none;
  /* Firefox 64 */
}
.scroll::-webkit-scrollbar {
  /* 크롬 사파리*/
  display: none;
}